.album-gallery {
  line-height: 0;
  columns: 1;
  column-gap: 1.5rem;
}
.album-gallery li {
  display: block;
  margin-bottom: 1.5rem;
  break-inside: avoid;
}
@media screen and (min-width: 60rem) {
  .album-gallery {
    columns: 2;
  }
}

.album-navigation {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 6rem;
  padding-top: 3rem;
  border-top: 2px solid var(--color-light);
}

.album-navigation a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
  transition: opacity 0.2s;
}



.album-nav-prev {
  text-align: left;
}

.album-nav-next {
  text-align: right;
  margin-left: auto;
}

.album-navigation span {
  font-weight: 600;
}

.album-navigation small {
  color: var(--color-text-grey);
}
